body {
    width: 99%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #a33838;
  }
.section-login{
 background-color: #7787a7;
 border: 1rem;
 border-radius: 2rem;
 box-shadow: 10px 5px 10px black;
 padding: 200px;

}
.section-login a{
    text-decoration: none;

}
.section-login a:hover{
    transform: scale(2.0); /* Aumenta o ícone em 1.5 vezes */
}