.text-info {
    color: rgb(255, 255, 255);
}

.div-border {

    border-radius: 5%;
    background: linear-gradient(90deg, #738ace, #9eb0e7);
}

.input {
    font-size: 10px;
}

a {
    text-decoration: none;
    color: #16233a;
}
button.zoom {
    transition: transform 0.9s ease;
    border-radius: 10%;
}

button:hover {
    transform: scale(1.1); /* Ajuste o valor para o nível de zoom desejado */
}